


/* start header */

.header{
    position: fixed;
    top: 1rem;
    right: 0;
    left: 0;
}

.swiper{
    border-radius: 3rem;
    padding: 1rem 2rem !important;
    backdrop-filter: blur(3px);
    background-color: var(--header-bg);
    user-select: none;
    margin: 0 2rem !important;
}

.swiper-slide{
    font-size: 2rem;
}

.header-item{
    min-width: 15rem;
    min-height: 5rem;
    text-wrap: nowrap;
    text-align: center;
    color: var(--text-color);
    background-color: var(--box-color) ;
    border-radius: 3rem;
    padding: .5rem 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.header-item--active{
    /* border: 3px solid var(--app-bg-color); */
    background-color: #f4b1b6 ;
    color: var(--text-color);
    font-weight: bold;
}

/* end header */


/* start home */

.home{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home__title{
    text-align: center;
    font-size: 5rem;
    color: var(--text-color);
    z-index: -1;
}

/* end home */

/* start menus */

.menus{

}
.menu{

}
.menu__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    color: var(--text-color);
}
.menu__title{
    position: relative;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    z-index: -1;
}
.menu__title::after,
.menu__title::before{
    content: "";
    position: absolute;

    top: 0;
    bottom: 0;
    margin: auto 0;

    width: 30rem;
    height: .5rem;
    border-radius: 3rem;
    background-color: var(--text-color);
}
.menu__title::after{
    left: 120%;
}
.menu__title::before{
    right: 120%;
}

.menu__items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.menu__item{
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
    height: 18rem;
    background-color: var(--box-color);
    margin: .75rem 0;
    color: var(--text-color);

    z-index: -1 !important;
    position: relative !important;
}
.menu__item-image-wrapper{
    width: 12rem;
    height: 14rem;

}
.menu__item-image{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.menu__item-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu__item-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.menu__item-desc{

}
.menu__item-price{

}

/* end menus */