@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {

    .menu__title::after,
    .menu__title::before {
        width: 20rem;
    }
}

@media only screen and (max-width: 768px) {

    .menu__title::after,
    .menu__title::before {
        width: 7rem;
    }
    .menu__title::after{
        left: 110%;
    }
    .menu__title::before{
        right: 110%;
    }
    .menu__item-title{
        font-size: 2.1rem;
    }
    .menu__item-desc,
    .menu__item-price {
        font-size: 1.4rem;
    }
    .menu__item-image{
        width: 10rem;
        height: 11rem;
    }
}

@media only screen and (max-width: 576px) {}