@import '../shared/shared.css';


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--app-bg-color);

}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--box-color);
    border: 1px solid var(--text-color);
    padding: 2rem;
    border-radius: 2rem;
}
.login-form__text{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
label{
    padding-right: 1rem;
    position: relative;
}

input,
.login-form__login-btn{
    border: 1px solid var(--text-color);
    outline: none;
    height: 3rem;
    width: 100%;
    border-radius: 2rem;
    padding: .5rem 1rem;
}
.login-form__username{

}
.login-form__password{

}
.login-form__login-btn{
    transition: all 200ms linear;
}

.login-form__login-btn:hover,
.modal__btn:hover{
    background-color: #f4b1b6;
}


/* modal */




.modal-box{
    font-size: 2rem;
    color: var(--text-color);
    display: none;
    position: fixed;
    padding: 2rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}
.modal-box--show{
    display: flex;
}
.modal__title{
    font-size: 3rem;
    text-align: center;
}
.modal__btn{
    border: 1px solid var(--text-color);
    outline: none;
    height: 3rem;
    border-radius: 2rem;
    padding: .5rem 1rem;
}