@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './reset.css';

:root {
    font-size: 10px;

    --text-color: #000;
    --app-bg-color: #eaf0ff;
    --box-color: #646464;
    --header-bg: #4d75b17c;
}

*,
::after,
::before{
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;

    background-color: var(--app-bg-color);
}

section{
    padding-top: 8rem;
}