@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './reset.css';

:root {
    font-size: 10px;

    /* --text-color: #021526;
    --app-bg-color: #D6EFD8;
    --box-color: #80AF81;
    --header-bg: #508D4E; */

    --text-color: #333;
    --app-bg-color: #EEEEEE;
    --box-color: #70b4cb;
    --header-bg: #17153B;
}

*,
::after,
::before{
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: var(--app-bg-color);
    overflow-x: hidden;
}

section{
    padding-top: 8rem;
}