@import '/shared/shared.css';


svg{
    width: 1.5rem;
    height: 1.5rem;
}

.menus{

}
.menus-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
}

.add-category-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;

    padding: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #fff;

    font-size: 2rem;
}
.add-category-btn__text{

}
.add-category-btn__icon{
    width: 2rem;
    height: 2rem;
}

.accordion-box{
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
}

.accordion-box__header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 2px solid var(--header-bg);
    padding-bottom: 2rem;
    gap: 2rem;

    cursor: n-resize;
}
.accordion-box__header-title{
    font-size: 3rem;
    gap: 3rem;

}

.accordion-box__header-btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}

.accordion-box__header-btns button {
    /* min-width: 7rem; */
}

.accordion-box__header-icon{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 2rem;

}

.accordion-box__header-icon--rotate{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.accordion-box__panel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;

    max-height: 0;
    overflow: hidden;
    margin-top: 0;

    -webkit-transition: all 500ms ease;

    -o-transition: all 500ms ease;

    transition: all 500ms ease;
}

.accordion-box__panel--open{
    margin-top: 2rem;
    max-height: 200rem;
}

.accordion-box__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--box-color);
    color: var(--text-color);
    margin: .75rem 0;
    border-radius: 2rem;
    padding: 1rem;
}

.accordion-box__item-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.accordion-box__image-wrapper{
}
.accordion-box__image{
    width: 12rem;
    height: 14rem;
    border-radius: 2rem;
}
.accordion-box__content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.accordion-box__title{
    font-size: 2.5rem;
    font-weight: 700;
}
.accordion-box__desc{

}
.accordion-box__price{

}

.accordion-box__item-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}
.accordion-box__item-delbtn,
.accordion-box__header-delbtn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    padding: .8rem;
    border-radius: 2rem;
    background-color: rgb(255, 101, 101);
    -webkit-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease;
}
.accordion-box__item-editbtn,
.accordion-box__header-editbtn{
    border: none;
    padding: .8rem;
    border-radius: 2rem;    
    -ms-flex-preferred-size: 32%;    
        flex-basis: 32%;
    background-color: rgb(255, 210, 126);
    -webkit-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease;
}

.accordion-box__header-addbtn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    padding: .8rem;
    border-radius: 2rem;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    background-color: rgb(105, 255, 150);
    -webkit-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease;
}

.accordion-box__header-addbtn:hover{
    background-color: rgb(41, 255, 105);
}

.accordion-box__item-delbtn:hover,
.accordion-box__header-delbtn:hover{
    background-color: rgb(255, 47, 47);
}
.accordion-box__item-editbtn:hover,
.accordion-box__header-editbtn:hover{
    background-color: rgb(255, 185, 56);
}


/* forms */


.cat-form,
.item-form{
    font-size: 2rem;
    color: var(--text-color);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8rem 3rem;
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    overflow: scroll;
    border: 1px solid var(--box-color);
}
.cat-form--show,
.item-form--show{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cat-form__title,
.item-form__title{
    font-size: 2.5rem;
    font-weight: bold;
}

input,
.item-form__desc-input{
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--text-color);
    padding: .5rem 1rem;
    width: 100%;
    background-color: transparent;
}

.item-form__desc-input{
    height: 6rem !important;
    resize: none;
}

.cat-form__add-submit-btn,
.cat-form__edit-submit-btn,
.item-form__add-submit-btn,
.item-form__edit-submit-btn{
    display: none;
    width: 100%;
    max-width: 20rem;
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.cat-form__add-submit-btn:hover,
.cat-form__edit-submit-btn:hover,
.item-form__add-submit-btn:hover,
.item-form__edit-submit-btn:hover{
    background-color: #f4b1b6;
}
.cat-form__cancel,
.item-form__cancel{
    text-decoration: line-through;
    word-spacing: .5rem;
    color: #4c4c4c;
    cursor: pointer;
}
.cat-form__cancel:hover,
.item-form__cancel:hover{
    color: var(--text-color);
}

.form-input-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
    gap: .5rem;
}